/*
 * DAC4 CSS
 */

/* ############ */
/* ## Header ## */
/* ############ */

/* Fix header to top */
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 0 65px;
    height: 60px;
}

/* Center text in item */
#header .site-title,
#header .page-title {
    padding: 0;
}

#header .site-title span,
#header .page-title span {
    line-height: 60px;
    height: 60px;
}

#header .site-title span {
    font-size: 1.5rem;
}

#header .page-title span {
    font-size: 1.2rem;
}

/* Display menu Login form inline with Register button */
#header form {
    display: inline-block;
}

/* Fix menu buttons width */
#header .ui.button {
    width: 100px;
}

/* Reduce padding on form menu item */
#header #form-item {
    padding: .58571em .95em;
}

/* ############ */
/* ## Footer ## */
/* ############ */

/* Fix footer to bottom */
#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    height: 60px;
}

/* Fix menu buttons width */
#footer .ui.button {
    width: 100px;
}
