/*
 * DAC4 CSS
 */

/* ############ */
/* ## Header ## */
/* ############ */

/* Fix header to top */
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 0 65px;
    height: 60px;
}

/* Display menu Login form inline with Register button */
#header form {
    display: inline-block;
}

/* Fix menu buttons width */
#header .ui.button {
    width: 100px;
}

/* Reduce padding on form menu item */
#header #form-item {
    padding: .58571em .95em;
}

/* ############ */
/* ## Footer ## */
/* ############ */

/* Fix footer to bottom */
#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    height: 60px;
}

/* Fix menu buttons width */
#footer .ui.button {
    width: 100px;
}

/* ##################### */
/* ## Header & Footer ## */
/* ##################### */

/* Center text in item */
.ui.menu .item.bar-text-big,
.ui.menu .item.bar-text-medium,
.ui.menu .item.bar-text-small {
    padding-top: 0;
    padding-bottom: 0;
}

.ui.menu .item.bar-text-big span,
.ui.menu .item.bar-text-medium span,
.ui.menu .item.bar-text-small span {
    line-height: 60px;
    height: 60px;
    font-weight: bold;
}

.ui.menu .item.bar-text-big span {
    font-size: 1.5rem;
}

.ui.menu .item.bar-text-medium span {
    font-size: 1.2rem;
}

.ui.menu .item.bar-text-small span {
    font-size: 1.0rem;
}
