body {
    padding-top: 70px;
    padding-bottom: 30px;
}

#header_container {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 40px;
    background-color: white;
    box-shadow: 0px 0px 5px darkgrey;
    font-size: 18px;
}

#header {
    width: 1000px;
    height : 40px;
    margin: auto;
    font-family: sans-serif;    
    color: darkgrey;
}

#header .header-button {
    display : inline-block;
    float: left;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    margin-right: 30px;
}

.header-button a {
    color: darkgrey;
    text-decoration: none;
}

#body-container {
    width : 100%;
    z-index: 0;
    font-family: sans-serif;
}

#main {
    width: 1000px;
    margin: auto;
    margin-top: 40px;
    padding: 20px;
/*    border-left: 1px dotted lightgrey;
    border-right: 1px dotted lightgrey;*/
}

#header .login-form {
    display: inline-block;
    float: right;
    margin-top: 5px;
    right: 0px;
}

#header .login-form input {
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 10px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px; 
}

form {
    margin: 0px;
}

.form-elt {
    margin-bottom: 20px;
}

.form-label {
    font-weight: bold;
}

.form-elt input {
    width: 300px;
    margin-left: 1px;
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 10px;
}

.form-elt .submit-button {
    background-color: white;
    border: 1px solid lightgrey;
}
.form-elt .submit-button:hover {
    background-color: #46b8da;
}

.form-elt .submit-button:active {
    background-color: #46b8da;
    position: relative;
    top: 1px;
    left: 1px;
}

.choice-subscribe {
    display: inline-block;
    width: 280px;
    height: 300px;
    margin: 10px;
    font-size: 22px;
    text-align : center;
}

.choice-img-subscribe {
    display: inline-block;
    width: 280px;
    height: 280px;
    margin-bottom: 10px;
    border-radius: 140px;
    overflow: hidden;
}

.list-row {
    width: 100%;
    margin: 0px;
    height: 30px;
    border-bottom: 1px solid grey;
}

.cell {
    float: left;
    width: 180px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
}

.account-menu {
    height: 30px;
    margin: 20px 0px 20px 0px;
}

.account-menu .menu-elt {
    display: inline-block;
    float: left;
    height: 30px;
    margin-right: 30px;
    text-transform: uppercase;
}

.centre-card {
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
}

.boxCalendar input {
    display: none;
}

.boxCalendar span {
    display: block;
    float: left;
    width: 120px;
    height: 150px;
    background: #d7c523;
}

.boxCalendar input:checked + span {
    background: #4c5d41;
}

.boxCalendarOut {
    float: left;
    width: 120px;
    height: 150px;
    background: #d7c5d3;
}
.endFloat {
    clear: both;
    height:0px;
}

.selected {
    font-weight: bold;
    color: #d2322d;
}

.carte {
    border-bottom: 1px solid lightgrey;
}

.carte .account-menu {
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    margin: 0px;
}

.carte .account-menu a {
    text-decoration: none;
}

.carte .account-menu a:visited {
    color: inherit;
}

.button {
    display: inline-block;
    margin: 10px 0px 10px 0px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid grey;
    background-color: #e5e5e5;
    color: black;
}

.button a {
    text-decoration: none;
}

.button a:visited {
    color: inherit;
}